In [1]:
import pandas as pd

In [20]:
examples = [
    {
        "sentence": "In the store, I bought {items}. Now, I have {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "an orange, a banana, and an apple"
    },
    {
        "sentence": "During the picnic, we enjoyed {items}. We had {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "a sandwich, a hotdog, and a burger"
    },
    {
        "sentence": "At the party, she had {items}. The items she had totaled {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "a cake, a cupcake, and a cookie"
    },
    {
        "sentence": "While hiking, he found {items}. The count of items found was {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "a pinecone, a stone, and a feather"
    },
    {
        "sentence": "In the garden, they grew {items}. The harvest yielded {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "a carrot, a radish, and a beet"
    },
    {
        "sentence": "At the museum, we saw {items}. The exhibits we saw were {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "a painting, a sculpture, and a photograph"
    },
    {
        "sentence": "In the bakery, he ordered {items}. He ended up with {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "a croissant, a muffin, and a scone"
    },
    {
        "sentence": "While shopping, she picked up {items}. The total number of things she got was {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "a shirt, a dress, and a hat"
    },
    {
        "sentence": "At the pet store, they bought {items}. Now, they have {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "a fish, a hamster, and a guinea pig"
    },
    {
        "sentence": "In the cafe, we ordered {items}. The number of coffees we ordered was {count}.",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "a latte, a cappuccino, and an espresso"
    },
    {
        "sentence": "During the show, he juggled {items}. He managed to juggle {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "balls, rings, and clubs"
    },
    {
        "sentence": "In the bookstore, she bought {items}. She ended up with {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "a novel, a poetry collection, and a self-help book"
    },
    {
        "sentence": "At the concert, we got {items}. Our total count of souvenirs was {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "a t-shirt, a poster, and a keychain"
    },
    {
        "sentence": "While fishing, he caught {items}. The number of fish he caught was {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "trout, bass, and salmon"
    },
    {
        "sentence": "In the classroom, she found {items}. The total count of pencils she found was {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "a red pencil, a blue pencil, and a green pencil"
    },
    {
        "sentence": "At the flower shop, he bought {items}. The number of flowers he bought was {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "roses, daisies, and tulips"
    },
    {
        "sentence": "During the hike, they found {items}. Their total count of discoveries was {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "a waterfall, a cave, and a meadow"
    },
    {
        "sentence": "In the toy store, she bought {items}. The number of toys she bought was {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "a doll, a teddy bear, and a toy car"
    },
    {
        "sentence": "While gardening, they planted {items}. Their total count of planted items was {count}",
        "integer_number": 3,
        "string_number": "three",
        "counterfactual_answers": ["one", "two", "four", "five", "six", "seven", "eight", "nine"],
        "items": "seeds, saplings, and bulbs"
    },
]

In [21]:
df = pd.DataFrame(examples)

In [22]:
df.head()

,sentence,integer_number,string_number,counterfactual_answers,items
0,"In the store, I bought {items}. Now, I have {c...",3,three,"[one, two, four, five, six, seven, eight, nine]","an orange, a banana, and an apple"
1,"During the picnic, we enjoyed {items}. We had ...",3,three,"[one, two, four, five, six, seven, eight, nine]","a sandwich, a hotdog, and a burger"
2,"At the party, she had {items}. The items she h...",3,three,"[one, two, four, five, six, seven, eight, nine]","a cake, a cupcake, and a cookie"
3,"While hiking, he found {items}. The count of i...",3,three,"[one, two, four, five, six, seven, eight, nine]","a pinecone, a stone, and a feather"
4,"In the garden, they grew {items}. The harvest ...",3,three,"[one, two, four, five, six, seven, eight, nine]","a carrot, a radish, and a beet"

In [23]:
df = df.rename({"string_number" : "count"}, axis=1)

path = "data/three_item_prompts.csv"
df.to_csv(path, index=False)